{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="container col-xs-12 col-sm-6">
                <h2>Birthdays</h2>
                <p>
                    {% for citation in alls if citation.date == "1987-11-10 00:00:00" %}
                            <img src="https://media.giphy.com/media/cReBRwdnlW9gs/giphy.gif" width="80%">
                                <p>Happy birthday !
                                    {{ citation.content}}
                                 !!!</p>
                        {% else %}
                            <img src="https://media.giphy.com/media/gSotjAQJmPTJm/giphy.gif" width="80%">
                    {% endfor %}

                </p>
            </div>

            <div class="container col-xs-12 col-sm-6">
                <h2>Maps</h2>
                <div id="map">
                    <script>
                        function initMap() {

                            var map = new google.maps.Map(document.getElementById('map'), {
                                zoom: 12,
                                center: {lat: 48.8490723, lng: 2.3504169}
                            });

                            // Create an array of alphabetical characters used to label the markers.
                            //        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
                            var labels = [
                                {% for citation in alls %}
                                '{{ citation.content }}',
                                {% endfor %}
                            ];


                            // Add some markers to the map.
                            // Note: The code uses the JavaScript Array.prototype.map() method to
                            // create an array of markers based on a given "locations" array.
                            // The map() method here has nothing to do with the Google Maps API.
                            var markers = locations.map(function(location, i) {
                                return new google.maps.Marker({
                                    position: location,
                                    label: labels[i % labels.length]
                                });
                            });

                            // Add a marker clusterer to manage the markers.
                            var markerCluster = new MarkerClusterer(map, markers,
                                {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
                        }

                        var locations = [
//                            {lat: 48.8490723, lng: 2.3504169}
//                            {lat: 48.8490723, lng: 2.3504169}
//                            {lat: 48.8490723, lng: 2.3504169}
                            {% for citation in alls %}
                            {{ citation.chapter }},
                            {% endfor %}
                        ];

                    </script>
                    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
                    </script>
                    <script async defer
                            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB9ulPJnt5zY7ad0R2D9CCvEywbIoxWtTM&content_copy&callback=initMap">
                    </script>
                </div>
            </div>
        </div>
    </div>


{% endblock body %}